server:
  port: 8081

spring:
  cloud:
    stream:
      bindings:
        input:
          destination: InputEvent
  rabbitmq:
    host: localhost
    port: 5672
    username: admin
    password: password